.fitted-form {
  display: inline-table;
  min-width:400px;
}

#login-wrapper {
  float:right;
  padding: 15px 20px;
}

#unconferences-header {
  border-radius: 0; 
}

#unconferences {
  margin-top: 15px; 
}

#unconferences a:hover {
  text-decoration: none; 
}

.unconference-description {
  margin-top: 5px; 
}

#new-unconference {
 margin-top: 20px; 
}

#unconference-admin {
  width: 200px;
  float: right;
  margin-right: 50px;
}

table.topic-list {
  margin-top: 15px; 
}

.vote-count {
  text-align: left;
  padding: 0px 5px;
}

.vote-button {
  text-align: left;
  padding-right: 5px;
}