.fitted-form {
  display: inline-table;
  min-width:400px;
}

#login-wrapper {
  float:right;
  padding: 15px 20px;
}

#unconferences {
  margin-top: 15px; 
}

#unconferences a:hover {
  text-decoration: none; 
}

table.topic-list {
  margin-top: 15px; 
}

.vote-count {
  text-align: left;
  padding: 0px 5px;
}

.vote-button {
  text-align: left;
  padding-right: 5px;
}