<template name="topics">
  {{#if currentUser}}
    <form id="new-topic"><input type="text" placeholder="New topic" /></form>
  {{/if}}
  <table class="topic-list alert alert-info">
    {{#each topics}}
    <tr>
      <td>
        <strong>{{name}}</strong>
      </td>
      <td class="vote-count">
        ({{pluralize 'votes' voteCount}})
      </td>
      <td class="vote-button">
        {{#if currentUser}}
        <button class="btn btn-xs btn-default">
          {{#if voted}}Unvote{{else}}Vote{{/if}}
        </button>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </table>
</template>